<div class="w-tool-list">
    <div data-dojo-attach-point="detailsContainer"></div>
    <div data-dojo-attach-point="bufferContainer"></div>
    <div data-dojo-attach-point="analysisContainer"></div>
    <div>
    	<button class="mdl-button mdl-js-button mdl-js-ripple-effect left" data-dojo-attach-point="btnDetails">Details</button>
    	<button class="mdl-button mdl-js-button mdl-js-ripple-effect left" data-dojo-attach-point="btnAnalyze">Analyze surrounding area</button>
    	<button class="mdl-button mdl-js-button mdl-js-ripple-effect left" data-dojo-attach-point="btnPrint">Print</button>
    	<button class="mdl-button mdl-js-button mdl-js-ripple-effect left" data-dojo-attach-point="btnExport">Export Data</button>
    </div>
</div>
