<div>
    <span class="mdl-layout-title w-navigation__title">
        <img src="app/img/Baycountylogo.svg" alt="City of Lubbock Logo" class="w-navigation__logo" />
        City of Lubbock
    </span>
    <span class="w-navigation__close-wrap">
        <i class="material-icons w-navigation__close-btn" data-dojo-attach-point="navCloseBtn">close</i>
    </span>

    <div data-dojo-attach-point="layerWidgetContainer"></div>
    <div data-dojo-attach-point="basemapWidgetContainer"></div>
    <div data-dojo-attach-point="toolsWidgetContainer"></div>

    <nav class="w-navigation__link-list">
        <div class="w-navigation__link mdl-dialog-button">Terms &amp; Conditions</div>
        <a class="w-navigation__link" href="mailto:gis.division@baycountyfl.gov?Subject=Bay%20County%20GIS" target="_blank">Contact Us</a>
    </nav>
</div>
