<div>
  <span class="mdl-layout-title w-navigation__title">
      Bay County

  </span>
  <span class="w-navigation__close-wrap">
      <i class="material-icons w-navigation__close-btn js-nav-close-btn">close</i>
  </span>

  <!--<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
    <a class="mdl-navigation__link" href="">Link</a>
  </nav>-->
  <div data-dojo-attach-point="layerWidgetContainer"></div>
  <div data-dojo-attach-point="basemapWidgetContainer"></div>
  <div data-dojo-attach-point="toolsWidgetContainer"></div>
</div>
