<div class="printReport">
  <style>
    h1 {
      font-size: 1.5rem;
    }
    h2 {
      font-size: 1.2rem;
      border-bottom: 1px solid gray;
    }
    table {
      border: 0;
      width: 100%;
    }
    td {
      vertical-align: top;
    }
    .structures, .structures th, .structures td {
      border: 1px solid gray;
      border-collapse: collapse;
    }
    .structures th {
      background: gray;
      color: #ffffff;
    }
    .structures td {
      padding: 3px;
    }
    .label {
      font-weight: bold;
    }

    .print-map {
      margin: 1rem 0;
    }

    @media print {
        .page-break { 
          clear: both;
          page-break-after: always; 
        }
        .print-map {
          height: 800px;
        }
    }

  </style>
  <img src="./app/img/logo.jpg">
  <h1>Parcel Report</h1>
  <p><span class="label">LCAD Property ID:</span> <span class="value" data-dojo-attach-point="lcadid">---</span></p>

  <h2>Owner Information:</h2>
  <table>
    <tr>
      <td style="width: 50%;">
        <span class="label">Owner:</span><br/>
        <span class="value" data-dojo-attach-point="owner">---</span><br/>
        <span class="value" data-dojo-attach-point="street">---</span><br/>
        <span class="value" data-dojo-attach-point="city">---</span>
      </td>
      <td>
        <span class="label">Property Address:</span><br/>
        <span class="value" data-dojo-attach-point="propertyaddress">Loading addresses...</span>
      </td>
    </tr>
  </table>
  

  <h2>Land Information:</h2>
  <table>
    <tr>
      <td colspan="2"><span class="label">Legal Description:</span> <span class="value" data-dojo-attach-point="description">---</span></td>
    </tr>
    <tr>
      <td><span class="label" style="width: 50%;">Block & Section:</span> <span class="value" data-dojo-attach-point="block">---</span></td>
      <td><span class="label">Calculated Sq./Ft:</span> <span class="value" data-dojo-attach-point="sqft">---</span></td>
    </tr>
    <tr>
      <td><span class="label">School District:</span> <span class="value" data-dojo-attach-point="schooldistrict">---</span></td>
      <td><span class="label">Census Tract:</span> <span class="value" data-dojo-attach-point="censustract">---</span></td>
    </tr>
    <tr>
      <td><span class="label">Landuse:</span> <span class="value" data-dojo-attach-point="landuse">---</span></td>
      <td><span class="label">Council District:</span> <span class="value" data-dojo-attach-point="councildistrict">---</span></td>
    </tr>
  </table>

  <h2>Structure Information:</h2>
  <table class="structures">
    <thead>
      <tr>
        <th>Structure Name</th>
        <th>1st Floor Area</th>
        <th>Total Floor Area</th>
        <th>GUC</th>
      </tr>
    </thead>
    <tbody data-dojo-attach-point="structuredRows"></tbody>
  </table>

  <div class="page-break"></div>
  <img class="print-map" src="./app/img/loader.gif" data-dojo-attach-point="mapContainer">

  <p class="footer">
    <strong>City of Lubbock Disclaimer</strong>
    <p>As required by Chapter 2051, Geospatial Data Products of the Government Code, this product is for informational purposes and may not have been prepared for or be suitable for legal, engineering, or surveying purposes. It does not represent an on-the-ground survey and represents only the approximate relative location of property boundaries.</p>
    <p>Copyright © 2022</p>
  </p>
</div>