<div class="w-tool-list">
    <ul class="w-tool-list__list">
        <li class="w-tool-list__item js-tool-select">
            <span class="w-tool-list__item-icon fa fa-arrows-h"></span>
            Measure
        </li>

        <li class="w-tool-list__item js-tool-select">
            <span class="w-tool-list__item-icon fa fa-pencil"></span>
            Draw
        </li>

        <li class="w-tool-list__item js-tool-select">
            <span class="w-tool-list__item-icon fa fa-download"></span>
            Extract Data
        </li>

        <li class="w-tool-list__item js-tool-select">
            <span class="w-tool-list__item-icon fa fa-print"></span>
            Print
        </li>
    </ul>
</div>
