<div class="w-tool-list">
    <ul class="w-tool-list__list" data-dojo-attach-point="toolSet">
        <li class="w-tool-list__item w-tool-list__mobile-item" data-dojo-attach-point="toolSelectLegend">
            <i class="material-icons w-tool-list__icon">format_list_bulleted</i>
            Legend
        </li>
        <li class="w-tool-list__item" data-dojo-attach-point="toolSelectMeasure">
            <i class="material-icons w-tool-list__icon">straighten</i>
            Measure
        </li>

        <li class="w-tool-list__item" data-dojo-attach-point="toolSelectDraw">
            <i class="material-icons w-tool-list__icon">edit</i>
            Draw
        </li>

        <li class="w-tool-list__item" data-dojo-attach-point="toolSelectExtract">
            <i class="material-icons w-tool-list__icon">system_update_alt</i>
            Extract Data
        </li>

        <li class="w-tool-list__item" data-dojo-attach-point="toolSelectPrint">
            <i class="material-icons w-tool-list__icon">print</i>
            Print
        </li>
    </ul>
</div>
