<div class="w-tool-list">
    <ul class="w-tool-list__list">
        <li class="w-tool-list__item js-tool-select">
            <i class="material-icons w-tool-list__icon">straighten</i>
            Measure
        </li>

        <li class="w-tool-list__item js-tool-select">
            <i class="material-icons w-tool-list__icon">edit</i>
            Draw
        </li>

        <li class="w-tool-list__item js-tool-select">
            <i class="material-icons w-tool-list__icon">system_update_alt</i>
            Extract Data
        </li>

        <li class="w-tool-list__item js-tool-select">
            <i class="material-icons w-tool-list__icon">print</i>
            Print
        </li>
    </ul>
</div>
