html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFF;
    overflow:hidden;
    font-family: 'Lato', sans-serif;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 0.3em 0;
}

h3 {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0.2em 0;
}

.hint {
    color: #999;
    font-style: italic;
    font-size: 0.9em;
}

.floating-panel {
    background: #FFF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.3);
}

.wrapper {
    background: #FFF;
    padding: 5px;
    position: absolute;
    z-index: 5;
    min-width: 400px;
    top: -2px;
    left: 50px;
}

.rotator {
    overflow:hidden;
}

.pane {
    background: #FFF;
    /*overflow-y: scroll;*/
    position: absolute;
    top: 0;
    left: 0;
    height: 100% !important;
    width: 100%;
}

/* Bootstrap */

.control-group {
    margin: 0.5em 0;
}

.control-label {
    vertical-align: top;
    display: block;
}

.dijitButtonContents i {
/*[class^="icon-"], [class*=" icon-"] {*/
    margin-top: 0.3em;
}



/****************************************************************************************/
/* MAP */
#map {
    padding: 0;
}

#mapTL {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 20;
}
#mapTR {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 20;
}
#mapBL {
    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
    z-index: 20;
}
#mapBR {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    z-index: 20;
}
#mapCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  z-index: 20;
}


/****************************************************************************************/
/* HEADER CONTAINER */
#header {
  background: #325920;
  border-bottom: 1px solid #F5F5F5;
}
.headerLogo {
  background: url(images/Map-Marker-Board-Chartreuse-icon.png) no-repeat;
  width: 48px;
  height: 48px;
  margin: 6px;
  float: left;
}
.headerTitle {
    color: #FFF;
    float: left;
    font-size: 26px;
    font-weight: bold;
    margin: 12px 0 0 10px;
}
.headerSubTitle {
    color: #CCC;
    float: left;
    font-size: 20px;
    margin: 12px 0 0 12px;
    display: none;
}
.headerLinks {
    float: right;
    margin: 20px 20px 0 0;
    color: #FFF;
}
.headerLinks a, .headerLinks a:active, .headerLinks a:visited, .headerLinks a:hover {
  color: #FFF;
}

/****************************************************************************************/
/* FOOTER CONTAINER */
#footer {
  height: 10px;
  background: #325920;
  border-top: 1px solid #F5F5F5;
}

/****************************************************************************************/
/* LEFT CONTAINER */
#leftContainer {
    width: 440px;
}

#leftContainer,
#mapViewContainer {
    -webkit-transition: width 150ms;
    -moz-transition: width 150ms;
    -ms-transition: width 150ms;
    -o-transition: width 150ms;
    transition: width 150ms;
    background: #f5f5f5;
}

.left-collapsed #leftContainer {
    width: 0;
}

.collapse-left-btn.dijitButton {
    margin: 0;
    z-index: 1;
    top: 40%;
    padding: 4px 4px 4px 0;
    position: absolute;
}

.collapse-left-btn.dijitButton.btn-map .dijitButtonNode {
    border-radius: 0 2px 2px 0;
    padding: 18px 6px;
    margin-left: -1px;
    border-color: #a3b6c1;
}

.collapse-left-btn .dijitButtonContents {
    outline-color: transparent;
}

.collapse-left-btn .dijitButtonText {
    font-size: 1.8em;
    line-height: 1.8em;
    padding: 0 6px 0 4px;
    color: #8292a3;
    outline-color: transparent;
}

.left-collapsed .collapse-left-btn .dijitButtonText i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}


/****************************************************************************************/
/* RIGHT CONTAINER */
#rightContainer {
    width: 400px;
  overflow: hidden;
}

h4 {
  font-weight: normal;
  font-size: 1em;
  margin: 0.5em;
}

/****************************************************************************************/
/* dgrid */
.dgrid {
    height: 100% !important;
}
.dgrid-no-data,
.dgrid-loading {
    color: #aaa;
    font-size: 16px;
    padding: 3em;
    text-align: center;
}

.dgrid-column-actions {
    width: 55px;
}
.field-left {
    width: 100px;
    vertical-align: top !important;
}
.field-center {
    vertical-align: top !important;
}

.dgrid-cell {
    word-wrap: break-word;
}

/****************************************************************************************/
/* FORM */
.form {
    /*
    background: #fbfbfb;
    height: 100%;
    width: 600px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.45);
    position: relative;
    */
}

.form .row {
    margin: 10px;
}

.form .row.no-left-right-margin {
    margin-left: 0;
    margin-right: 0;
}

.form h3 {
    background: linear-gradient(135deg, #4CB8C3 0%, #58D3AA 100%);
    color: #FBFBFB;
    display: inline-block;
    margin: -10px -15px 0;
    padding: 20px 15px;
    width: 100%;
    line-height: 24px;
}

.form h3 span:first-child {
    border: 1px solid #FFFFFF;
    border-radius: 99px;
    display: inline-block;
    height: 24px;
    margin-right: 15px;
    text-align: center;
    width: 24px;
}

.form label {
    display: inline-block;
    width: 150px;
    vertical-align: middle;
    font-weight: bold;
}

.form hr {
    margin: 25px 0;
}



.claro .dijitSplitContainer-child, .claro .dijitBorderContainer-child {
    border: 0;
}

.logo {
  float:left;
  margin: 5px;
}
