$font-family-sans-serif:  "Roboto","Helvetica", "Helvetica Neue", Arial, sans-serif !default;
$font-family-base:        $font-family-sans-serif !default;

$body-bg:                 #fff !default;
$brand-danger:            #F12437 !default;

$brand-primary:           #408800 !default;
$brand-primary-dark:      darken($brand-primary, 20%);

$gray-base:               #000 !default;
$gray-darker:             lighten($gray-base, 13.5%) !default; // #222
$gray-dark:               lighten($gray-base, 20%) !default;   // #333
$gray:                    lighten($gray-base, 33.5%) !default; // #555
$gray-light:              lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:            #FAFAFA !default; // #eee

$border-radius-base:      2px !default;
$border-radius-large:     4px !default;
$border-radius-small:     1px !default;

$btn-default-color:       #333 !default;
$btn-default-bg:          #fff !default;
$btn-default-border:      #ccc !default;

$btn-primary-color:       #fff !default;
$btn-primary-bg:          $brand-primary !default;
$btn-primary-border:      darken($btn-primary-bg, 5%) !default;

// Colors
$white: #fff;
$black: #000;
$blue: #4B65FF;
$blue-green: #7ecfeb;
$orange: #ef8b5c;

// Breakpoints
$breakpoints: (
    xs: 480px,
    md: 1025px
);

@mixin respond($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}
