.loading-outer {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99999;
  font-family: Lato, "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif;

  //add background image to both elements to fix blur edge
  &,
  &::before {
    //IE9 two background fix
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE5NmZhNiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzE5NmZhNiIgc3RvcC1vcGFjaXR5PSIwLjUiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==),
      url(../css/images/splashBackground.jpg) no-repeat center center fixed;
    background: linear-gradient(
      rgba(64, 136, 0, 1),
      rgba(64, 136, 0, 1)),
      url(../css/images/splashBackground.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  &::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
  }

  &.splash-finished {
    animation: ps-animation--fade-out 500ms linear both;
    animation-delay: 500ms;

    .dj_ie9 & {
      display: none;
    }
  }
}

.splash-login.loading-outer::before {
  animation: ps-animation--blur 250ms linear forwards;
}

.loading-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
  text-align: center;
  width: 100%;
  transition: all 500ms ease;
}

.loading-message {
  color: #f9f9f9;
  margin: 1em 0;
  font-size: 1.1em;
  display: none;

  .splash-loading & {
    display: block;
  }
}

.loading-wrapper {
  max-width: 300px;
  padding: 20px;
  background: #FFF url(../../favicon-96x96.png) no-repeat;
  box-shadow: 0px -1px 1px 0px rgba(0,0,0,0.20), 0px 2px 2px 0px rgba(0,0,0,0.30);
  border-radius: 3px;
  display: inline-block;

  .splash-loading & {
    width: 56px;
    height: 56px;
    animation: ps-animation--spin 1000ms linear infinite none;

    .dj_ie9 & {
      display: none;
    }
  }

  .login-container {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .splash-login & {
    animation: ps-animation--smack 1000ms linear none;

    .login-container {
      opacity: 1;
    }
  }

  .splash-finished & {
    animation: ps-animation--collapse 1000ms linear forwards;
  }
}

.loading-app-title {
  display: none;
  position: absolute;
  bottom: 1em;
  right: 2em;
  font-size: 1.7em;
  color: #f9f9f9;
  font-weight: 600;
}

.loading-app-logo {
  bottom: 15px;
  right: 15px;
  position: absolute;
}
