.w-basemap-toggle {
    margin: 20px 0;
    padding: 10px;
    border: {
        top: 2px solid #e6e6e6;
        bottom: 2px solid #e6e6e6;
    }
    font-size: 16px;

    &:hover {
        background: rgba($brand-primary,0.3);
        cursor: pointer;
    }

    &.is-selected {
        background: rgba($brand-primary,0.1);
    }
}

// Icon Override
.material-icons {
    &.w-basemap-toggle__icon {
        padding: 0 10px;
        vertical-align: text-bottom;
        font-size: 16px;
    }
}
