.w-layer-item {
    margin-bottom: 10px;
}

.w-layer-item__checkbox-wrap {
    //display: inline;
}

.w-layer-item__label {
    padding-left: 5px;
}

.dijitCheckBoxChecked {
    background-color: $blue;
    border: 1px solid lighten($blue, 5%);
}
