.w-navigation__title {
    padding: 20px;
    background: $blue;
    color: $white;
}

.w-navigation__close-wrap {
    position: absolute;
    right: 0;
    top: 8px;
    padding: 5px 10px;
}

.w-navigation__close-btn {
    &:hover {
        cursor: pointer;
    }
}
