.print-tool__container {
    top: -6px;
    left: 46px;
    min-width: 200px;
    padding: 0;

    // @include respond('xs') {
    //     min-width: 400px;
    // }

    @include respond('sm') {
        top: 0;
        left: 50px;
    }

    &.is-hidden {
        display: none;
    }
}

.print-tool {
    padding: 0;
    border: 0;

    .dijitContentPane {
        background: none;
    }
}

.print-tool__title {
    display: block;
    width: 100%;
    height: 33px;
    vertical-align: middle;
    background: $brand-primary;
    color: $white;
    font-size: 18px;
    padding: 5px 0;

    @include respond('xs') {
    }
}
/*
.esriPrint {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px;
}

.dijitMenuItemSelected td,
.dijitMenuItemSelected {
    background: $blue;
}
*/

.print-tool__form {
  padding: 10px;
}

.print-tool__layout-label,
.print-tool__layout-label {
  display: table-cell;
  width: 50%;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.print-tool__sub-title {
  vertical-align: middle;
  vertical-align: -webkit-baseline-middle;
  padding: 0 20px;
}

.print-tool__submit {
  display: inline-block;
  width: 40%;
  margin-top: 25px;
  text-align: right;
}

.print-tool__loading {
  display: inline-block;
  width: 57%;
  margin-top: 25px;
  text-align: left;
}

.print-tool__loading.is-hidden {
  visibility: hidden;
}

.print-tool__result {
  padding: 20px;
  text-align: center;
}

.print-tool__result.is-hidden {
  display: none;
}

.print-tool__error {
  padding: 20px;
  text-align: center;
  color: #e84444;
}

.print-tool__error.is-hidden {
  display: none;
}

.print-tool__error i {
  margin-right: 10px;
  vertical-align: middle;
}

.print-tool__error span {
  vertical-align: middle;
}

.print-tool__loading-label {
  margin-left: 10px;
}
